@model EBook_Proj.Models.UserModel

<div class="user-info">
    <p>Name: @Model.Name</p>
    <p>Last Name: @Model.LastName</p>
    <p>Username: @Model.Username</p>
    <p>Email: @Model.Email</p>
</div>

<div class="main-content">
    <h3>other</h3>
</div>